@using RealState.Models
@model SearchModel


@using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "search-form" }))
{
    <div class="form-inline">
        <div class="form-group search-for-options">            
            @Html.TextBoxFor(m => Model.Place, new { @class = "form-control form-teste", placeholder = "Estado , cidade , bairro ou rua" })
            @Html.TextBoxFor(m => Model.Price, new { @class = "form-control", placeholder = "Preço máximo" })
            <div class="form-group">
                <select name="BedroomNumber" class="form-control">
                    <option value=""> Numero de quartos </option>
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4+ </option>
                </select>
            </div>
            <input type="submit" value="Pesquisar" class="btn btn-default" />

                @*
                @Html.TextBoxFor(m => Model.City, new { @class = "form-control", placeholder = "Cidade" })
                @Html.TextBoxFor(m => Model.NeighboorHood, new { @class = "form-control", placeholder = "Bairro" })
                @Html.TextBoxFor(m => Model.StreetName, new { @class = "form-control", placeholder = "Rua" })
                @Html.TextBoxFor(m => Model.Area, new { @class = "form-control", placeholder = "Area mínima" })
                @Html.TextBoxFor(m => Model.GarageSpace, new { @class = "form-control", placeholder = "Espaço na garagem mínimo" })
                *@
        </div>
    </div>
}
