@using RealState.Models
@using System.Security.Claims;
@model List<PropertyModel>




<div class="row" style=" display: flex; flex-wrap: wrap;row-gap: 20px; ">
    @foreach (var property in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail" style="background-color: white;">
                    @{
                        Html.RenderAction("ButtonPartialView", "Property", new { PropertyId = property.Id});
                    }
                

                <a href="@Url.Action("Index", "Property" , new { @PropertyId = property.Id } )">
                    <img src="@property.ImagesUrl.First()" style=" max-height:20vh;" />
                    <div class="caption">
                        <div>
                            <h5>@property.City , @property.State </h5>
                            <span>@property.NeighboorHood, @property.StreetName , @property.HouseNumber</span>
                        </div>
                        <div style="width: 80%; display: flex; justify-content: space-between; ">
                            <div><span> @property.Area m&#178;</span> </div>
                            <div><span>@property.BedroomNumber quarto(s)</span> </div>
                            <div><span>@property.GarageSpace carro(s)</span> </div>
                        </div>
                        <div>
                            <span>R$ @property.Price</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }

</div>

