@using RealState.Models
@using System.Security.Claims;
@using RealState.Helper;
@model PropertyModel

@{
    ViewBag.Title = "Property";
    int Quantidade = 1;
}

<h2>Property</h2>

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });

    $(function () {
        $("#menu").menu();
    });

    function searchCep() {
        const cep = document.getElementById("cepInput").value

        $.ajax({
            type: "GET",
            url: "https://viacep.com.br/ws/" + cep + "/json/",
            data: {
            }
        })
            .done(function (object) {
                //alert("sucesso");
                console.log("sucesso");

                if (object.erro) {
                    alert("não encontrado ou inexistente");
                    console.log("ocorreu erro");
                }
                else {

                    const State = document.getElementById("State");
                    const City = document.getElementById("City");
                    const NeighboorHood = document.getElementById("NeighboorHood");
                    const StreetName = document.getElementById("StreetName");
                    const HouseNumber = document.getElementById("HouseNumber");

                    State.value = object.uf;
                    City.value = object.localidade;
                    NeighboorHood.value = object.bairro;
                    StreetName.value = object.logradouro;

                }
            })
            .fail(function (error) {
                alert("não encontrado ou inexistente");
                console.log("ocorreu erro");
            });
    }


</script>


<h2>Detalhes do Imovel</h2>
@Html.ActionLink("Apagar Imovel", "Remove", "Property", new { PropertyId = Model.Id }, new { @class = "btn btn-danger" })

<div id="tabs">
    <div style="display: flex; justify-content: center; background-color: rgb(50,50,50); ">
        @foreach (var Url in Model.ImagesUrl)
        {

            <div id="tabs-@Quantidade">
                <img src="@Url" style="max-height:50vh; " />
            </div>
            Quantidade++;
        }
    </div>

    @{ Quantidade = 1; }
    <ul>
        @foreach (var Url in Model.ImagesUrl)
        {
            <li>
                <a href="#tabs-@Quantidade">
                    <img src="@Url" class="thumbnail" style="max-height:10vh;" />
                </a>
            </li>
            Quantidade++;
        }
    </ul>

</div>



@using (Html.BeginForm("Update", "Property", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">

        @Html.HiddenFor(m => Model.Id)
        @Html.HiddenFor(m => Model.UserId)
        <div class="form-group">
            <label class="control-label col-sm-2">Buscar pelo CEP:</label>
            <div class="col-sm-3" style="padding:0;">
                <input type="text" class="form-control" id="cepInput" />
            </div>
            <button type="button" onclick="searchCep()" class="btn btn-default col-sm-1">Buscar</button>
        </div>


        <div class="main-content-property">

            <div class="property-info">
                <div class="form-group">
                    <label class="control-label col-sm-3">Buscar pelo CEP:</label>
                    <div class="col-sm-5" style="padding:0;">
                        <input type="text" class="form-control" id="cepInput" />
                    </div>
                    <button type="button" onclick="searchCep()" class="btn btn-default col-sm-2">Buscar</button>
                </div>
                <h3>
                    @Html.TextBoxFor(m => Model.City, new { @class = "form-control special-form", @readonly = "readonly", id = "City" }) ,
                    @Html.TextBoxFor(m => Model.State, new { @class = "form-control special-form", @readonly = "readonly", id = "State" })
                </h3>
                <h4>
                    @Html.TextBoxFor(m => Model.NeighboorHood, new { @class = "form-control special-form", @readonly = "readonly", id = "NeighboorHood" }),
                    @Html.TextBoxFor(m => Model.StreetName, new { @class = "form-control phone special-form", @readonly = "readonly", id = "StreetName" }),
                    @Html.TextBoxFor(m => Model.HouseNumber, new { @class = "form-control special-form", id = "HouseNumber" })
                </h4>
                <h4> </h4>
                <h4>Tem uma árae de @Html.TextBoxFor(m => Model.Area, new { @class = "form-control special-form" }) m&#178; e possui @Html.TextBoxFor(m => Model.BedroomNumber, new { @class = "form-control special-form" }) quarto(s)</h4>
                <h4>Garagem com espaço para @Html.TextBoxFor(m => Model.GarageSpace, new { @class = "form-control special-form" }) carro(s)</h4>
                <div class="form-group">
                    <input type="submit" value="Atualizar" class="btn btn-default" />
                </div>
            </div>
            <div class="owner-info">
                <div class="price-info">
                    <p>Compra</p>
                    <h3>R$ @Html.TextBoxFor(m => Model.Price, new { @class = "form-control" })</h3>
                </div>
                <div class="contact-info">
                    <h4>Anunciante</h4>
                    <h5>Owner.Name</h5>
                    <h5>Email para contato :  Owner.Email</h5>
                </div>

            </div>
        </div>
    </div>
}